<div class="d-flex justify-content-center align-items-center flex-column form-wrapper">
  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Name of the task:</label>
      <input [(ngModel)]="inputName" name="name" type="text" class="form-control" id="name" aria-describedby="nameHelp"
        required>
    </div>
    <div class="mb-3">
      <label for="isCompleted" class="form-label">Is the task completed:</label>
      <select [(ngModel)]="inputIsCompleted" name="isCompleted" id="isCompleted" aria-describedby="isCompletedHelp"
        class="form-select" required>
        <option selected [ngValue]="null" disabled selected>Select an option</option>
        <option [ngValue]="true">Completed</option>
        <option [ngValue]="false">Not Completed</option>
      </select>
    </div>
    <button class="btn btn-primary" (click)="addTask()">Submit</button>
  </form>
</div>

<h1>All Tasks</h1>
<div class="card text-center" *ngFor="let task of tasks$ | async">
  <div class="card-header">
    Task {{task.id}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{task.name}}</h5>
    <p class="card-text">{{task.isCompleted}}</p>
    <div class="d-flex justify-content-center align-items-center flex-row gap-2">
      <a class="btn btn-danger" (click)="OpenDeleteModal(task)">Delete Task</a>
      <a class="btn btn-success" (click)="openEditModal(task)">Edit Task</a>
    </div>
  </div>
</div>

<!-- Modal Delete-->
<div class="modal fade" id="deleteTaskModal" tabindex="-1" aria-labelledby="deleteTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="deleteTaskModalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p>Are you sure you want to delete this task?</p>
        <p class="text-muted"><strong>Task:</strong> </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="closeDeleteModal()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteTask(selectedTaskId)">Yes, Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit-->
<div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="deleteTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="deleteTaskModalLabel">Write the new data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Name of the task:</label>
            <input [(ngModel)]="inputNameToEdit" name="name" type="text" class="form-control" id="name" aria-describedby="nameHelp"
              required>
          </div>
          <div class="mb-3">
            <label for="isCompleted" class="form-label">Is the task completed:</label>
            <select [(ngModel)]="inputIsCompletedToEdit" name="isCompleted" id="isCompleted" aria-describedby="isCompletedHelp"
              class="form-select" required>
              <option selected [ngValue]="null" disabled selected>Select an option</option>
              <option [ngValue]="true">Completed</option>
              <option [ngValue]="false">Not Completed</option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="closeDeleteModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="editTask()">Edit</button>
      </div>
    </div>
  </div>
</div>

<!-- Search Task for ID-->
<div class="form-wrapper">
  <form>
    <div class="mb-3">
      <label for="id" class="form-label">ID of the task:</label>
      <input [(ngModel)]="selectedTaskId" name="id" type="search" class="form-control" id="id" aria-describedby="idHelp"
        required (keypress.enter)="getTaskById(selectedTaskId)">
    </div>
    <button class="btn btn-primary" (click)="getTaskById(selectedTaskId)">Search</button>
  </form>
</div>